#about {
  display: flex;
  background-color: color(primary);

  @include respondTo(xs) {
    display: block;
  }

  .about-sections {
    width: 100%;
    display: flex;
    @include respondTo(xs) {
      flex-direction: column;
    }
    .section1 {
      height: 100vh;
      display: flex;
      width: 50%;
      padding: 35px;
      border: solid color(border);
      border-radius: 30px;
      box-shadow: $box-shadow-about;
      justify-content: center;
      align-items: center;
      background-color: color(secondary-accent-color);
      flex-direction: column;
      @include respondTo(xs) {
        width: 90%;
        margin: 30px 15px 30px 15px;
        padding: 20px;
      }
      @include respondTo(sm) {
        width: 40%;
        margin: 30px;
        border-radius: 20px;
      }
      @include respondTo(md) {
        width: 40%;
        margin: 30px;
      }
      @include respondTo(lg) {
        padding: 93px;
      }
      .img-about {
        height: 100vh;
        object-fit: contain;
        border-radius: 30px;
        img {
          height: 100vh;
          width: 100%;
          border-radius: 20px;
          object-fit: contain;
        }
      }
      .title-about {
        font-size: 25px;
        font-family: $font-family-quicksand;
        color: #ff666e;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -8px;
        bottom: 45px;
        @include respondTo(xs) {
          font-size: 20px;
          left: 0px;
          position: relative;
          bottom: 9%;
          top: -58px;
        }
        @include respondTo(sm) {
          position: relative;
          bottom: 9%;
        }
      }
    }
    .section2 {
      height: 100vh;
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: center;
      color: color(accent);
      flex-direction: column;
      background-color: color(primary);
      text-align: justify;
      @include respondTo(xs) {
        height: 120vh;
        width: 100%;
        flex-direction: column;
      }
      @include respondTo(sm) {
        width: 60%;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
      }
      @include respondToAbove(md) {
        width: 60%;
      }
      @include respondToAbove(lg) {
        width: 60%;
        justify-content: center;
        align-items: center;
      }
      .slider-wrapper {
        font-size: 30px;
        color: color(accent);
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        right: 34%;
        @include respondTo(lg) {
          right: 2%;
        }
        @include respondTo(xs) {
          right: 2%;
        }
        @include respondTo(sm) {
          right: 3%;
        }
        @include respondTo(md) {
          right: 2%;
        }

        .slider {
          height: 50px;
          padding-left: 2px;
          overflow: hidden;
          font-family: $font-family-quicksand;

          div {
            color: rgb(18, 4, 52);
            height: 50px;
            margin-bottom: 50px;
            padding: 0px 0px 2px 3px;
            text-align: center;
            box-sizing: border-box;
          }
          .slider-text1 {
            background-color: transparent;
            animation: slide 5s linear infinite;
            margin-left: 10px;
          }
          .slider-text2 {
            background-color: transparent;
          }
          .slider-text3 {
            background-color: transparent;
          }

          @keyframes slide {
            0% {
              margin-top: -300px; // this was going on scroling
            }

            5% {
              margin-top: -200px; /// this causes the delay
            }

            33% {
              margin-top: -200px;
            }
            38% {
              margin-top: -100px;
            }

            66% {
              margin-top: -100px;
            }
            70% {
              margin-top: 0px;
            }

            100% {
              margin-top: 0px;
            }
          }
        }
      }
      .para-about p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
        margin-left: 40px;
        font-size: 20px;
        font-family: $font-family-quicksand;
        font-weight: 700;
        line-height: 30px;
        color: color(navbar-li);
        text-align: justify;

        @include respondTo(xs) {
          font-size: 15px;
          margin-right: 15px;
          margin-left: 15px;
          margin-top: 30px;
          line-height: 25px;
          text-align: justify;
        }
        @include respondTo(sm) {
          position: absolute;
          top: 47px;
          margin-right: 47px;
          margin-left: 0px;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}
