#footer {
  height: 40vh;
  position: relative;
  background-color: rgb(18, 4, 52);
  flex-shrink: 1;

  .backgroundimg {
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .section2 {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 20vh;
      .social-media {
        position: absolute;
        color: white;
        font-size: 70px;
        bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .dribble a img {
          height: 100%;
          width: 60px;
          @include respondTo(xs) {
            width: 35px;
          }
        }

        @include respondTo(xs) {
          font-size: 39px;
          left: 21%;
          bottom: 34px;
        }
      }

      .done-by {
        position: absolute;
        color: white;
        font-size: 20px;
        bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family-quicksand;
        @include respondTo(xs) {
          font-size: 13px;
          margin-top: 30px;
          right: 52px;
        }
      }
    }
    .section1 {
      display: flex;
      width: 100%;
      height: 20vh;
      .logo {
        display: flex;
        width: 50%;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        top: 34px;

        @include respondTo(xs) {
          top: 44px;
          width: 20%;
          position: absolute;
          left: 20px;
        }
        @include respondTo(sm) {
          width: 90%;
        }
        img {
          height: 100%;
          width: auto;
          border: none;

          @include respondTo(xs) {
            width: 72px;
            height: auto;
          }
        }
      }
      .contact-me {
        width: 50%;
        display: flex;

        .rocket {
          position: absolute;
          right: 0;
          left: 90%;
          bottom: 0px;
          width: 70px;
          height: auto;
          top: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include respondTo(xs) {
            right: 0;
            left: 83%;
            bottom: 0px;
            width: 31px;
            height: auto;
            top: 33px;
          }
        }
        .contact {
          display: flex;
          position: absolute;
          color: white;
          right: 5%;
          top: 74px;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @include respondTo(xs) {
            top: 52px;
          }
          h3 {
            color: white;
            font-size: 40px;
            font-family: "Quicksand", sans-serif;
            @include respondTo(xs) {
              font-size: 22px;
            }
          }

          .mail {
            font-size: 70px;
            position: absolute;
            bottom: -83px;
            right: 13px;
            @include respondTo(xs) {
              font-size: 34px;
              position: absolute;
              bottom: -37px;
              right: -16px;
            }
          }
        }
      }
    }
  }
}
