#home {
  height: 90vh;
  background-color: white;
  overflow-x: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

  @include respondTo(xs) {
    padding: 0px;
    overflow-x: hidden;
    display: block;
    height: 80vh;
  }
  @include respondTo(sm) {
    height: 70vh;
  }
  @include respondTo(lg) {
    height: 110vh;
  }
  .home-section {
    width: 100%;
    display: flex;
    @include respondTo(xs) {
      flex-direction: column;
    }
    .home-page {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @include respondTo(xs) {
        width: 100%;
        display: block;
        position: relative;
        height: 60vh;
        justify-content: center;
        align-items: center;
        margin-left: -64px;
      }

      img {
        height: auto;
        max-width: 1200px;
        @include respondTo(xs) {
          height: 400px;
          width: 600px;
        }
        @include respondTo(sm) {
          height: 100%;
          width: 768px;
        }
        @include respondTo(md) {
          height: 100%;
          width: 768px;
        }
      }
    }

    .home-title-page {
      display: flex;
      width: 40%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 20px;
      @include respondTo(xs) {
        width: 100%;
        margin-left: 1px;
        flex-direction: column;
      }

      @include respondToAbove(lg) {
        width: 40%;
        margin-left: 20px;
      }

      .title-home {
        color: white;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: $font-family-quicksand;
        font-size: 50px;

        animation: colorchangeh 3s infinite;
        @keyframes colorchangeh {
          0% {
            color: rgb(43, 65, 98);
          }
          25% {
            color: rgb(179, 177, 177);
          }
          50% {
            color: rgb(250, 159, 66);
          }
          100% {
            color: rgb(179, 177, 177);
          }
        }
        @include respondTo(xs) {
          font-size: 29px;
          font-family: $font-family-quicksand;
          margin-right: 27px;
          justify-content: center;
          align-items: center;
        }
        @include respondTo(sm) {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 40px;
        }
        @include respondTo(md) {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 40px;
        }
      }

      .para-home {
        font-family: $font-family-quicksand;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        color: color(accent);
        font-weight: 600;
        font-size: 24px;
        @include respondTo(xs) {
          text-align: center;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }
}
