#responsive-skills-screen {
  display: flex;
  height: 210vh;
  flex-direction: column;
  background-color: white;

  @include respondTo(lg) {
    display: none;
  }
  .title-skills {
    font-size: 19px;
    font-family: "Quicksand", sans-serif;
    color: rgb(46, 16, 255);
    text-align: center;
    margin: 20px;
  }
  .subtitle-skills {
    font-size: 17px;
    font-family: "Quicksand", sans-serif;
    color: rgb(46, 16, 255);
    text-align: center;
    margin-top: 15px;
  }
  .front-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    .htmlprogressbar {
      width: 100%;
      display: flex;
      .html {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: "Quicksand", sans-serif;
            padding-left: 20px;
            padding-top: 5px;
            color: white;
          }
        }
      }
    }

    .cssprogressbar {
      width: 100%;
      display: flex;
      .css {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: white;
          }
        }
      }
    }

    .sassprogressbar {
      width: 100%;
      display: flex;
      .sass {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: "Quicksand", sans-serif;
            padding-left: 20px;
            padding-top: 5px;
            color: white;
          }
        }
      }
    }
    .jsprogressbar {
      width: 100%;
      display: flex;
      .js {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: white;
          }
        }
      }
    }
  }
  .js-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    .react-progressbar {
      width: 100%;
      display: flex;
      .react {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: white;
          }
        }
      }
    }
    .redux-progressbar {
      width: 100%;
      display: flex;
      .redux {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: color(primary);
          }
        }
      }
    }
  }
  .design-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    .figma-progressbar {
      width: 100%;
      display: flex;
      .figma {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: color(primary);
          }
        }
      }
    }
    .procreate-progressbar {
      width: 100%;
      display: flex;
      .procreate {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: color(primary);
          }
        }
      }
    }
    .photoshop-progressbar {
      width: 100%;
      display: flex;
      .photoshop {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: color(primary);
          }
        }
      }
    }
    .illustrator-progressbar {
      width: 100%;
      display: flex;
      .illustrator {
        display: flex;
        width: 30%;
        margin-top: 15px;
        margin-left: 20px;
      }
      .progressbar {
        margin-top: 30px;
        width: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        .bar {
          position: absolute;
          height: 30px;
          width: 200px;
          background: #e0e6e9;
          border-radius: 30px;
          span {
            position: absolute;
            height: 22px;
            background-color: #14076e;
            border-radius: 30px;
            margin-top: 4px;
            margin-left: 3px;
            font-size: 10px;
            font-family: $font-family-quicksand;
            padding-left: 20px;
            padding-top: 5px;
            color: color(primary);
          }
        }
      }
    }
  }
  .learn-skills {
    display: block;
    width: 100%;
    flex-direction: row;

    .auth-text {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      .auth0 {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-left: -10px;
      }
      .text-skills {
        width: 70%;
        display: flex;
        font-size: 14px;
        color: color(accent);
      }
    }

    .aws-text {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .aws {
        width: 30%;
        display: flex;
        margin-top: 15px;
      }
      .text-skills {
        width: 70%;
        display: flex;
        font-size: 14px;
        color: color(accent);
      }
    }

    .c-text {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      .c {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-left: -10px;
      }
      .text-skills {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 14px;
        color: color(accent);
      }
    }
  }

  @include respondTo(xs) {
    visibility: visible;
  }
  @include respondTo(md) {
    display: none;
  }

  @include respondTo(sm) {
    display: none;
  }
}
